@charset "UTF-8";
/* line 2, /Users/apprentice5/Sites/Fab/app/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.light-grey {
  background-color: #efefef;
}

/* line 21, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.blue-text {
  color: #2ea5da;
}

/* line 25, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.orange-text {
  color: #ff3f00;
}

/* line 29, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.seafoam-text {
  color: #b4d5a2;
}

/* line 35, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
body {
  font: 75%/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;
  padding: auto;
  max-width: 960px;
}

/* line 42, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 47, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.header {
  background-color: black;
  height: 55px;
  padding: 0px;
}

/* line 53, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.menu {
  color: white;
  font-size: 24px;
  padding: 10px 15px;
}

/* line 59, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.logo {
  padding-top: 15px;
  text-align: center;
  vertical-align: top;
}

/* line 65, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
nav {
  background-color: #303132;
  color: white;
  width: 100%;
}
/* line 70, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
nav li {
  border-right: 1px solid #666666;
  display: inline-block;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  width: 9.5%;
}
/* line 78, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
nav li:last-child {
  border-right: 0px;
}

/* line 84, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.sub-nav li {
  display: inline-block;
  padding-bottom: 8px;
}

/* line 89, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.policies {
  clear: both;
}
/* line 92, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.policies div {
  background-color: #efefef;
  height: 90px;
  width: 30%;
}

/* line 101, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.home, .women, .men, .fun {
  margin: 1px;
}

/* line 105, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.no-padding {
  padding: 0px;
}

/* line 109, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
section {
  margin: 2px;
  padding: 14px;
}

/* line 114, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
div {
  padding: 14px;
}

/* line 118, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.featured {
  padding: 0px;
}
/* line 121, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.featured div.one-of-three {
  padding: 0px;
}

/* line 126, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-icons {
  padding: 0px;
}

/* line 131, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-icon:first-child {
  padding: 0;
}
/* line 135, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-icon:last-child {
  padding: 0;
}

/* line 140, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.browse {
  padding: 2px;
}

/* line 144, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.home {
  width: 60%;
}

/* line 149, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
footer li {
  margin-bottom: 8px;
}
/* line 153, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
footer div {
  padding: 10px;
}

/* line 160, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.meta {
  color: #666666;
  font-size: 11px;
  padding: 0px;
}
/* line 165, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.meta a {
  color: #666666;
}
/* line 168, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.meta a:hover {
  color: black;
}

/* line 174, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 178, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
li {
  list-style: none;
}

/* line 184, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.float-right {
  float: right;
  text-align: right;
}

/* line 189, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.float-left {
  float: left;
  position: relative;
}

/* line 194, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.inline {
  display: inline-block;
  position: relative;
}

/* line 199, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.clear {
  clear: both;
}

/* line 205, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a {
  color: #666666;
  text-decoration: none;
}

/* line 211, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-pink:hover h2 {
  color: white;
}
/* line 214, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-pink:hover div {
  background-color: #e882b6;
  color: white;
}

/* line 221, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-orange:hover h2 {
  color: white;
}
/* line 224, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-orange:hover div {
  background-color: #ff3f00;
  color: white;
}

/* line 231, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-blue:hover h2 {
  color: white;
}
/* line 234, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
a.hover-blue:hover div {
  background-color: #2ea5da;
  color: white;
}

/* line 240, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.sub-nav a:hover {
  text-decoration: underline;
}

/* line 244, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
footer a:hover {
  color: black;
}

/* line 248, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.red-hover {
  color: white;
  font-size: 18px;
  padding: 16px 0;
  margin: 0;
  text-align: center;
  vertical-align: top;
}
/* line 256, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.red-hover:hover {
  background-color: red;
}

/* line 263, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.dotted-border {
  border: 1px dotted #303132;
}

/* line 269, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.col {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

/* line 275, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-one {
  width: 100%;
}

/* line 279, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-two {
  width: 46.65%;
}

/* line 283, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-three {
  width: 33%;
}

/* line 287, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.two-of-three, .four-of-six {
  width: 63%;
}

/* line 291, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-four {
  width: 24%;
}

/* line 295, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-six {
  width: 16.66%;
}

/* line 299, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.one-of-twelve {
  width: 8%;
}

/* line 303, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-icon {
  width: 31%;
}

/* line 307, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.home, .fun {
  padding-bottom: 18px;
  width: 54.75%;
}

/* line 312, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.art, .furniture, .jewelry, .food {
  width: 38.65%;
}

/* line 316, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.most-popular {
  width: 59%;
}

/* line 322, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
h1 {
  font-size: 22px;
}

/* line 326, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
h2 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

/* line 332, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.social {
  text-align: center;
}
/* line 335, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.social p {
  font-size: 15px;
}

/* line 340, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-text {
  font-size: 30px;
}
/* line 342, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.shipping-text div {
  padding: 0;
  width: 100%;
}

/* line 350, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.meta-top {
  font-size: 13px;
  line-height: 0px;
  margin: 0;
  padding-top: 18px;
  vertical-align: top;
}

/* line 358, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.login {
  color: #666666;
  font-size: 14px;
  line-height: 23px;
}
@media screen and (max-width: 915px) {
  /* line 358, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
  .login {
    width: 9%;
  }
}

/* line 368, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.policies h2 {
  color: #666666;
  font-size: 22px;
  line-height: 10px;
  margin: 0;
}

/* line 375, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
footer h2 {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
}

/* line 383, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
img {
  width: 100%;
}

/* line 387, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
header img {
  width: auto;
}

/* line 393, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
button {
  background-color: #dd0017;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 10px;
}

/* line 405, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
input[type="search"] {
  background: url("../images/search.png") no-repeat 7px 4px white;
  border: 0px;
  border-radius: 15px;
  font-size: 13px;
  height: 30px;
  min-width: 130px;
  padding-left: 30px;
  -webkit-appearance: none;
  width: 100%;
}

/* line 419, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
form {
  padding-top: 10px;
  vertical-align: top;
}

/* line 426, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.title-top {
  background-color: black;
  opacity: .5;
  position: absolute;
}
/* line 431, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.title-top h1 {
  color: white;
  line-height: 0;
  opacity: 1;
}
/* line 437, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.title-top h2 {
  line-height: 10px;
}

/* line 442, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.title-bottom {
  background-color: black;
  bottom: 17px;
  color: white;
  font-size: 14px;
  opacity: 0.5;
  position: absolute;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?14191376#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 465, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-email, .icon-menu, .icon-cancel, .icon-truck, .icon-bus, .icon-menu-1, .icon-hash, .icon-facebook-circled, .icon-twitter-circled, .icon-smile, .icon-lock, .icon-truck-1 {
  font-family: 'fontello';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 476, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-email:before {
  content: '\e808';
}

/* '' */
/* line 477, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-menu:before {
  content: '\e800';
}

/* '' */
/* line 478, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-cancel:before {
  content: '\e802';
}

/* '' */
/* line 479, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-truck:before {
  content: '\e809';
}

/* '' */
/* line 480, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-bus:before {
  content: '\e806';
}

/* '' */
/* line 481, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-menu-1:before {
  content: '\e801';
}

/* '' */
/* line 482, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-hash:before {
  content: '\e803';
}

/* '' */
/* line 483, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-facebook-circled:before {
  content: '\e805';
}

/* '' */
/* line 484, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-twitter-circled:before {
  content: '\e804';
}

/* '' */
/* line 485, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-smile:before {
  content: '\e807';
}

/* '' */
/* line 486, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-lock:before {
  content: '\e80b';
}

/* '' */
/* line 487, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.icon-truck-1:before {
  content: '\e80a';
}

/* '' */
/* line 489, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.social-icon {
  font-size: 30px;
}
/* line 492, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
.social-icon:hover {
  color: red;
  cursor: pointer;
}
