* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  box-sizing: border-box;
}

nav,article,section,header,main,footer { display: block; }

// FONTELLO //

@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello.eot');
  src: url('../../fonts/fontello.eot?14191376#iefix') format('embedded-opentype'),
       url('../../fonts/fontello.woff') format('woff'),
       url('../../fonts/fontello.ttf') format('truetype'),
       url('../../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;

}

 .icon-email, .icon-menu, .icon-cancel, .icon-truck, .icon-bus, .icon-menu-1, .icon-hash, .icon-facebook-circled, .icon-twitter-circled, .icon-smile, .icon-lock, .icon-truck-1, .icon-down-open, .icon-right-dir {
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-email:before { content: '\e808'; } /* '' */
.icon-menu{
    &:before {
        content: '\e800';
        font-size: 24px;
    } /* '' */
}
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e809'; } /* '' */
.icon-bus:before { content: '\e806'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-hash:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\e805'; } /* '' */
.icon-twitter-circled:before { content: '\e804'; } /* '' */
.icon-smile:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-truck-1:before { content: '\e80a'; } /* '' */
.icon-right-dir:before { content: '\e80d'; } /* '' */

.icon-down-open {
    text-align: center;

    &:before {
        content: '\e80c';
        font-size: 24px;
        line-height: 0;
        } /* '' */
    }

.social-icon {
    font-size: 30px;

    &:hover {
        color: red;
        cursor: pointer;
    }
}

// COLORS //

$light-grey: #efefef;
$grey: #666;
$dark-grey: #303132;
$orange: #FF3F00;
$pink: #E882B6;
$light-blue: #50C8F0;
$blue: #2EA5DA;
$seafoam: #B4D5A2;
$red: #dd0017;

// Background Colors

.light-grey {
    background-color: $light-grey;
}

// Text Colors

.blue-text {
    color: $blue;
}

.orange-text {
    color: $orange;
}

.seafoam-text {
    color: $seafoam;
}

a#open-menu {
    color: white;
}

// LAYOUT //

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f2f2;
    font: 75%/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: auto;
    padding: auto;
    max-width: 980px;
}

section {
    background-color: white;
    z-index: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    height: 55px;
    padding: 0px;
}

.menu {
    color: white;
    padding: 10px 15px;
}

.logo {
    padding-top: 15px;
    text-align: center;
    vertical-align: top;
}

nav {
    background-color: $dark-grey;
    color: white;
    height: 40px;
    position: relative;
    width: 100%;

    ul.categories {
        @include media (max-width 750px) {
            display: none;
        }

        li {
            border-right: 1px solid $grey;
            display: inline-block;
            font-size: 14px;
            padding: 10px 0;
            text-align: center;
            width: 9.5%;

            @include media(max-width 750px) {
                background-color: white;
                border-bottom: 1px solid $light-grey;
                border-right: 0;
                color: $grey;
                font-size: 18px;
                text-align: left;
                padding: 10px;
                width: 100%;

                &:after {
                    content: '\e80d';
                    font-family: 'fontello';
                    margin-right: 10px;
                    position: absolute;
                    right: 0;
                    @include transition (all 1s ease);
                }
            }

            &:last-child {
                border-right: 0px;
            }
        }
    }

    div.flyout {
        background-color: white;
        box-shadow: 1px 5px 5px #ccc;
        height: 404px;
        padding: 6px;
        position: absolute;

        @include media (max-width 750px) {
            height: auto;
        }

        span {
            border-right: 1px solid $grey;
            float: left;

            &:last-child {
                border-right: 0;
            }

            @include media (max-width 750px) {
                border-right: 0;
                width: 100%;
            }
        }

        h2, li {
            background-color: white;
            border-bottom: 1px solid $light-grey;
            border-right: 0;
            color: $grey;
            float: left;
            padding: 10px;
            width: 100%;
        }

        h2 {
            color: black;
        }

        li:hover {
            background-color: $light-grey;
        }

        .nav-image li {
            width: 49%;

            img {
                width: 100%;
            }
        }
    }

    .icon-down-open {
        display: none;

        @include media (max-width 750px) {
            display: block;
        }
    }
}

.sub-nav li {
    display: inline-block;
    padding-top: 8px;
}

.small-nav  {
    display: none;
    text-align: center;

    @include media (max-width 700px) {
        display:block;
    }
}

.policies {
    clear:both;

    div {
        background-color: $light-grey;
        height: 120px;
        width: 33%;

        @include media (max-width 700px) {
            height: 150px;
            width: 32.9%;
        }

        @include media (max-width 550px) {
            width: 32.8%;
        }

        @include media(max-width 450px) {
            height: 200px;
            width: 32.7%;
        }
    }
}

.fab-us {
    padding: 8px 0 0 0;
    width: 10%;
}

// MARGINS & PADDING //

.home, .women, .men, .fun {
    margin: 1px;
}

.no-padding {
    padding: 0px;
}

section {
    margin: 2px;
    padding: 14px;
}

div {
    padding: 14px;
}

.featured {
    padding: 0px;

    div.one-of-three {
        padding: 0px;
    }
}

.shipping-icons {
    padding: 0px;
}

.shipping-icon {
    padding: 0;
    margin: 0 5px;
}

.browse {
    padding: 2px;
}

.home {
    width: 60%;
}

footer {
    li {
        margin-bottom: 8px;
    }

    div {
        padding: 10px;
    }
}

// UNIVERSAL //

.hidden {
    display: none;
}

.meta {
    color: $grey;
    font-size: 11px;
    padding: 0px;

    a {
        color: $grey;

        &:hover {
            color: black;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

li {
    list-style: none;
}

// POSITIONING //

.float-right {
    float: right;
    text-align: right;
}

.float-left {
    float:left;
    position: relative;
}

.inline {
    display: inline-block;
    position: relative;
}

.clear {
    clear:both;
}

// LINKS //

a {
    color: $grey;
    text-decoration: none;
}

a.hover-pink:hover {
    h2 {
        color: white;
    }
    div {
        background-color: $pink;
        color: white;
    }
}

a.hover-orange:hover {
    h2 {
        color: white;
    }
    div {
        background-color: $orange;
        color: white;
    }
}

a.hover-blue:hover {
    h2 {
        color: white;
    }
    div {
        background-color: $blue;
        color: white;
    }
}

.sub-nav a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: black;
}

.red-hover {
    color: white;
    font-size: 18px;
    padding: 16px 0;
    margin: 0;
    text-align: center;
    vertical-align: top;

    &:hover {
        background-color: red;
        color: white;
    }
}

// BORDERS //

.dotted-border {
    border: 1px dotted $dark-grey;
}

// GRID //

.col {
    display: inline-block;
    vertical-align: top;
}

.one-of-one {
    width: 100%;
}

.one-of-two {
    width: 49.78%;

    @include media(max-width 900px) {
        width: 49.65%;
    }

    @include media(max-width 560px) {
        width: 100%;
    }
}

.one-of-three {
    width: 33%;

    @include media(max-width 650px) {
        width: 100%;
    }
}

.two-of-three, .four-of-six {
    width: 66%;

    @include media(max-width 650px) {
        width: 100%;
    }
}

.one-of-four {
    width: 24%;
}

.one-of-six {
    width: 16.66%;

    @include media (max-width 720px) {
        width: 16.5%;
    }

    @include media (max-width 560px) {
        width: 100%;
    }
}

.one-of-twelve {
    width: 7%;
}

.shipping-icon {
    width: 30%;
}

.home, .fun {
    padding-bottom: 18px;
    width: 57.9%;

    @include media (max-width 560px) {
        width: 100%;
    }
}

.art, .furniture, .jewelry, .food {
    margin: 1px;
    width: 41.65%;

    @include media (max-width 880px) {
        width: 41.2%;
    }

    @include media(max-width 560px) {
        width: 100%;
    }
}

.most-popular {
    padding-bottom: 54px;
    width: 65.75%;

    @include media(max-width 560px) {
        width: 100%;
    }
}

// TYPOGRAPHY //

h1 {
    font-size: 22px;
}

h2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.social {
    text-align: center;

    p {
        font-size: 15px;
        line-height: 30px;
        padding: 14px;
    }
}

.shipping-text {

    div {
        padding: 0;
        width: 100%;
    }

    font-size: 30px;

    @include media(max-width 825px) {
        font-size: 24px;
    }
}

.meta-top{
    font-size: 13px;
    line-height: 0px;
    margin: 0;
    padding-top: 18px;
    vertical-align: top;
}

.login {
    color: $grey;
    font-size: 14px;
    line-height: 23px;

    @include media(max-width 915px) {
        width: 9%;
    }
}

.policies h2 {
    color: $grey;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

footer h2 {
    color: $grey;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

// IMAGES ///

img {
    width: 100%;
}

header img {
    width: auto;
}

// BUTTONS //

button {
    background-color: $red;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin: 12px 6px;
    padding: 7px 10px;
}

// INPUTS //

input[type="search"] {
    background: url('../../images/search.png') no-repeat 7px 4px white;
    border: 0px;
    border-radius: 15px;
    font-size: 13px;
    height: 30px;
    min-width: 130px;
    padding-left: 30px;
    -webkit-appearance: none;
    width: 100%;
}

// FORMS //

form {
    padding-top: 10px;
    vertical-align: top;
}

// SPECIFIC ELEMENTS //

.title-top {
    background-color: black;

    h1 {
        color: white;
        line-height: 0;
        opacity: 1;
    }

    h2 {
        line-height: 10px;
    }
}

.title-bottom {
    background-color: black;
    bottom: 17px;
    color: white;
    font-size: 14px;
}



